{{#md-navbar name='SuiteLife' class='teal darken-1' homeRoute="apartments"}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
    {{#link-to 'apartments' tagName='li'}}
       {{link-to 'List' 'apartments'}}
     {{/link-to}}
     {{#link-to 'apartments.new' tagName='li'}}
       {{link-to 'New' 'apartments.new'}}
     {{/link-to}}
{{/md-navbar}}

<div class="main-container">
  {{outlet}}
</div>
